body {background-color: #000000;
 color: white;
 padding-left:20px ;
 padding-top: 20px;
 font-family: 'Noto Sans';
 width: 750px;
 }

div {position:absolute;
left:650px;
top: 30px;}

@font-face{font-family: 'Noto Sans', sans-serif;}

.title{font-size: 150%;
color:blue;}
