body {background-color: #000000;
 color: white;
 padding-left:20px ;
 padding-top: 20px;
 font-family: 'Noto Sans';
 }

 p{float:right;}

@font-face{font-family: 'Noto Sans', sans-serif;}

span.title{font-size: 150%;
color:blue;}

img{width:1200px;}
